%h1 Let's Create a New Reporter (Eventually)

%h2 Reporter Info
%ul
  %li
    %b First Name
    = @reporter.first_name
  %li
    %b Email
    = @reporter.email
  %li
    %b Username
    = @reporter.nickname
