%h1 Let's Create a New Reporter (Eventually)

%pre= @provider_hash
%h2 Reporter Info
%ul
  %li
    %b Name
    = @reporter.name
  %li
    %b Email
    = @reporter.email
  %li
    %b Username
    = @reporter.nickname
