/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

// Site-wide variables
$base_font_size: 18px;

// Site-wide functions
@function px-to-em($target,$context:$base_font_size) {
  @return ($target / $context) * 1em;
}


/* Base Styles (HTML Selectors) */
html {
  font-size: px-to-em($base_font_size,16px); /* 24 / 16 = */
  color: white;
  line-height: px-to-em(20px);
  background-color: #20232A;
  font-family: "Cormorant Garamond", serif;
}

body {
  padding: 3%
}

h1 {
  text-align: center;
  font-size: px-to-em(40px);
  line-height: px-to-em(40px,40px);
}

h2 {
  font-size: px-to-em(27px);
  line-height: px-to-em(30px,27px);
  padding-top: px-to-em(16px,18px);
  padding-bottom: px-to-em(16px,18px);
}

h3 {
  font-size: px-to-em(18px);
  line-height: px-to-em(30px,18px);
  color: white;
}

input {
  display: block;
  border: none;
  line-height: 1;
  height: px-to-em(60px);
  padding: 0.718em;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  height: 15%;
}

article {
  background-color: #ACBEBE;
  padding: px-to-em(15px);
  border-radius: .5em;
}

select{
  background: white;
  box-sizing: border-box;
  line-height: px-to-em(24px,18px);
  padding: px-to-em(16px,18px);
  width: 100%;
  border: 0;
}

textarea{
  width: 100%;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  overflow: auto;
  display: block;
  height: px-to-em(120px);
}

label,
input {
  display: block;
}

form li {
  padding-bottom: px-to-em(16px,18px);
  line-height: px-to-em(24px,18px);
  list-style: none;
}

ol {
  padding: 3%;
}

ul {
  line-height: px-to-em(24px,18px);
  list-style: none;
}

.complaints li {
  padding-top: 1%;
  line-height: px-to-em(24px,18px);
  margin-bottom: 5%;
  width: 100%;
}

ul.info{
  padding-left: 3%;
  font-size: px-to-em(18px);
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: px-to-em(24px,18px);
  margin: px-to-em(5px);
  width: 100%;

}

li#error {
  font-size: px-to-em(20px);
  padding: 0.2em 0.4em;
  list-style: square;
  list-style-position: inside;
}

 li#back{
   text-align: left;
   font-size: px-to-em(20px);
   background-color: #20232A;
 }

p {
   padding-top: 3%;
 }

header p {
  padding-top: 3%;
}

p.byline{
  color: white;
}

ul.controls {
  padding-top: 5%;

}

ul.controls#index{
  font-size: px-to-em(20px);
  text-align: right;
}

/* Layout Styles (Usually Landmark ID Selectors) */
.controls a,
p a {
  border-radius: 0.2em;
  padding: 0.2em 0.4em;
  color: white;
  background-color: #A01D26;
  text-decoration: none;
}

input[type="submit"]{
  background-color: #ACBEBE;
  height: px-to-em(70px);
  color: white;
  border-radius: .2em;
}

.controls a:hover,
p a:hover,
input[type="submit"]:hover {
  background-color: #A01D26;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  line-height: px-to-em(28px);
  text-align: center;
  background-color: #ACBEBE;
  margin-top: 3%;
  margin-bottom: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  position: absolute;
  left: 0;
  width: 100%;
}

p.tagline{
  text-align: center;
  font-style: italic;
}

/* Modular Styles (Repeating Class Selectors) */


/* State Styles (JavaScript-Dependent Styles, Media Queries) */

@media screen and (min-width: 600px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }

}
@media screen and (min-width: 990px) {
  body {
    padding-left: 8%;
    padding-right: 8%;
  }
  h1 {
    font-size: px-to-em(63.5px);
  }
}
@media screen and (min-width: 1400px) {
  html {
      font-size: px-to-em(25px,16px);
  }
  body {
    padding-left: 15%;
    padding-right: 15%;
  }

}
